body{
    background: rgba(0,255,170,1);
    background: -moz-linear-gradient(45deg, rgba(0,255,170,1) 0%, rgba(0,156,184,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,255,170,1)), color-stop(100%, rgba(0,156,184,1)));
    background: -webkit-linear-gradient(45deg, rgba(0,255,170,1) 0%, rgba(0,156,184,1) 100%);
    background: -o-linear-gradient(45deg, rgba(0,255,170,1) 0%, rgba(0,156,184,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(0,255,170,1) 0%, rgba(0,156,184,1) 100%);
    background: linear-gradient(45deg, rgba(0,255,170,1) 0%, rgba(0,156,184,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffaa', endColorstr='#009cb8', GradientType=1 );
}
h1, h2, h3, h4 {
    font-family: 'Raleway';
}
@media only screen and (max-width: 500px) {
    .save {
        margin-top: 5%;
        margin-bottom: 8%;
        margin-left: 39%;
    }
    .container {
        margin-top: 4%;
        border-radius: 40px;
        background-color: white;
        padding-top: 1%;
        margin-bottom: 10%;
        width: 96%;
    }
    .row{
        margin: auto;
    }
    .btn-group {
        position: relative;
        margin-left: 31%;
    }
    h1 a {
        color: #ffffff;
        font-weight: bold;
        font-size: 100%;
        font-family: 'Raleway', sans-serif;
    }
    h3 {
        margin-top: 5%;
        margin-bottom: 4%;
        font-size: 150%;
        text-align: center;
        color: #217c86;
    }
    h4 {
        margin-top: 5%;
        margin-bottom: 2%;
        text-align: center;
        font-size: 120%;
        color: #217c86;
    }
    h5 {
        color: #ffffff;
    }
    /*header*/
    .col-sm-offset-2 {
        margin-top: 5%;
        margin-left: 41% ;
    }
    .col-sm-offset-3 {
        margin-top: 3%;
        margin-left: 20%;
    }
}
@media only screen and (min-width: 501px) and (max-width: 960px){
    .save {
        margin-top: 5%;
        margin-bottom: 8%;
        margin-left: 32%;
    }
    .container {
        margin-top: 4%;
        border-radius: 40px;
        background-color: white;
        padding-top: 1%;
        margin-bottom: 10%;
        width: 99%;
        padding-left: 15%;
    }
    .row{
        margin: auto;
    }
    .btn-group {
        position: relative;
        margin-left: 25%;
    }
    h1 a {
        color: #ffffff;
        font-weight: bold;
        font-size: 100%;
        font-family: 'Raleway', sans-serif;
    }
    h3 {
        margin-top: 5%;
        margin-bottom: 4%;
        font-size: 150%;
        margin-left: 22%;
        color: #217c86;
    }
    h4 {
        margin-top: 6%;
        margin-bottom: 4%;
        text-align: center;
        font-size: 115%;
        color: #217c86;
        margin-left: -14%;
    }
    h5 {
        color: #ffffff;
    }
    /*header*/
    .col-sm-offset-2 {
        margin-top: 5%;
        margin-left: 45% ;
    }
    .col-sm-offset-3 {
        margin-top: 3%;
        margin-left: 37%;
        text-align: center;
    }
}
@media only screen and (min-width: 961px) {
     .save {
        margin-top: 5%;
        margin-bottom: 8%;
        margin-left: 34%;
    }
    .container {
        margin-top: 4%;
        border-radius: 40px;
        background-color: white;
        padding-top: 1%;
        margin-bottom: 10%;
        padding-left: 10%;
    }
    .row{
        margin: auto;
    }
    .btn-group {
        position: relative;
        margin-left: 30%;
    }
    h1 a {
        color: #ffffff;
        font-weight: bold;
        font-size: 100%;
        font-family: 'Raleway', sans-serif;
    }
    h3 {
        margin-top: 5%;
        margin-bottom: 4%;
        font-size: 150%;
        margin-left: 27%;
        color: #217c86;
    }
    h4 {
        margin-top: 6%;
        margin-bottom: 4%;
        text-align: center;
        font-size: 115%;
        color: #217c86;
        margin-left: -25%;
    }
    h5 {
        color: #ffffff;
    }
    /*header*/
    .col-sm-offset-2 {
        margin-top: 5%;
        margin-left: 35%;
    }
    .col-sm-offset-3 {
        margin-top: 5%;
        margin-left: -26%;
    }
}



